header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablePrincipal{
    border: solid 1px purple;  
    width: 60%;
}

.divNames{
    border: solid 1px purple;
    display: flex;
    align-items: flex-start;
    
}

.colunaNomes{
    border: solid 1px purple;
    width: 50%;
    font-size: large;
}
.colunaUsers{
    border: solid 1px purple;
    width: 40%;
    font-size: large;
}
